.register-input {
    outline: none;
    color: #000;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    width: 100%;
}

.register-button {
    margin: 10px;
    padding: 15px;
    background-color: #0cafe5;
    color: #fff;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    width: 100%;
}

@keyframes hoverFade {
    from {
        opacity: 100%;
    }
    to {
        opacity: 80%;
    }
}

.register-button:hover {
    animation: hoverFade 0.1s forwards;
    cursor: pointer;
}

.register-facebook {
    background-color: #4267B2;
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.register-facebook:hover {
    animation: hoverFade 0.1s forwards;
    cursor: pointer;
}


.register-google {
    background-color: #DB4437;
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.register-google:hover {
    animation: hoverFade 0.1s forwards;
    cursor: pointer;
}